body {
    font-family: Open Sans;
    background-color: rgb(184, 145, 150);
}

.button_container {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px;
    gap: 7px;
    background-color: rgb(74, 117, 94);
    padding: 15px;
    width: fit-content;
}

.button {
    background-color: rgb(134, 181, 157);
    text-align: center;
    padding: 28px;
    font-size: 30px;
    color: rgb(74, 117, 94);
    border-style: outset;
}

#display {
    grid-column-start: 2;
    grid-column-end: 5;
    background-color: rgb(231, 237, 207);
    border: solid rgb(75, 75, 75) 1px;
}

#add {
    background-color: rgb(183, 221, 201);
}

#subtract {
    background-color: rgb(183, 221, 201);
}

#multiply {
    background-color: rgb(183, 221, 201);
}

#divide {
    background-color: rgb(183, 221, 201);
}