* {
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

body {
    font-family: Open Sans;
    margin: 0px;
}

.regular_buttons {
    margin: 0px;
    height: 100px;
    width: 100px;
    color: white;
    background-color: rgb(88, 154, 113);
}